In [29]:
import pandas as pd
import numpy as np

# changing options with attributes and dot syntax

In [8]:
#generating random integers between 0 and 100. array to have 1000 rows and 50 columns
data =np.random.randint(0,100,[1000,50])
df = pd.DataFrame(data)
df.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
998,54,54,73,7,58,6,45,56,31,4,...,92,29,71,3,2,56,3,82,55,76
999,87,76,24,48,28,44,52,2,62,43,...,12,49,65,54,99,77,1,61,56,62

In [15]:
#sets the datframe column to only display x columns
pd.options.display.max_columns = 8

In [13]:
#sets the dataframe to only display 4 rows instead of all rows
pd.options.display.max_rows = 4

In [16]:
df

     0   1   2   3   ...  46  47  48  49
0    14  58  58  65  ...  75  36  19  42
1    21  23   1  46  ...  42  33  52  90
..   ..  ..  ..  ..  ...  ..  ..  ..  ..
998  54  54  73   7  ...   3  82  55  76
999  87  76  24  48  ...   1  61  56  62

[1000 rows x 50 columns]

# changing pandas options with methods

In [17]:
#generating random integers between 0 and 100. array to have 1000 rows and 50 columns
data =np.random.randint(0,100,[1000,50])
df = pd.DataFrame(data)
df.tail(2)

     0   1   2   3   ...  46  47  48  49
998  34  69  34  15  ...  83  95  35  64
999  59  51  70  31  ...  83  50  62   6

[2 rows x 50 columns]

In [37]:
pd.get_option("display.max_rows")

10

In [36]:
pd.set_option("display.max_rows",10)

In [34]:
pd.reset_option("display.max_rows")

In [35]:
pd.get_option("display.max_rows")

60

In [30]:
pd.describe_option("max_columns")

display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]

# the precision Option

In [31]:
df = pd.DataFrame(np.random.randn(5,5))
df

          0         1         2         3         4
0  0.317784 -0.883429 -0.424699  0.659164 -0.910662
1 -0.300612 -1.617500  0.230387 -1.421693 -0.899802
2  1.042534 -0.541861 -1.084784  0.530679 -0.732751
3 -1.422076 -0.726819  0.179806  0.415209 -0.162729
4  1.075605  0.381199 -0.141713  0.117923 -0.544425

In [38]:
#alters the number of decimal digits after a number. 
pd.get_option("display.precision")

6

In [43]:
pd.set_option("display.precision",2)
df

      0     1     2     3     4
0  0.32 -0.88 -0.42  0.66 -0.91
1 -0.30 -1.62  0.23 -1.42 -0.90
2  1.04 -0.54 -1.08  0.53 -0.73
3 -1.42 -0.73  0.18  0.42 -0.16
4  1.08  0.38 -0.14  0.12 -0.54