In [1]:
import pandas as pd
import datetime as dt

## review of pandas datatime module

In [14]:
dt.date(year=2023,month=1,day=1)
someday = dt.date(2023,1,1)

In [17]:
someday.day

1

In [18]:
someday.year

2023

In [19]:
someday.month

1

In [23]:
#year month day hour minutes seconds
#date time uses military time
dt.datetime(2023,1,1,8,30,35)

datetime.datetime(2023, 1, 1, 8, 30, 35)

In [25]:
#more readable form
str(dt.datetime(2023,1,1,8,30,35))

'2023-01-01 08:30:35'

# the pandas timestamp object

In [34]:
#pandas can figure out the date from different date strings
pd.Timestamp(ts_input="2015-01-01")
pd.Timestamp(ts_input="2015/02/24")
pd.Timestamp("02-03-2020")
pd.Timestamp("04-25-1999 8:34 AM")
pd.Timestamp("03-15-2021 10:34 PM")

Timestamp('2021-03-15 22:34:00')

In [35]:
pd.Timestamp(dt.datetime(2023,1,1,8,30,35))

Timestamp('2023-01-01 08:30:35')

# the pandas datetimeindex object

In [38]:
dates=["2016-01-02","2016-04-12-","2009-09-07"]

In [13]:
#creates an datetime index object
#box or container for multiple panda timestamps
pd.DatetimeIndex(dates)
#type(pd.DatetimeIndex(dates))

DatetimeIndex(['2016-06-01', '1994-06-12', '2020-04-10'], dtype='datetime64[ns]', freq=None)

In [3]:
dates = [dt.date(2016,6,1),dt.date(1994,6,12),dt.date(2020,4,10)]

In [9]:
dtIndex = pd.DatetimeIndex(dates)

In [7]:
values = [100,200,300]

In [12]:
pd.Series(data=values,index=dtIndex)

2016-06-01    100
1994-06-12    200
2020-04-10    300
dtype: int64

# the pd.to_datetime() method

In [24]:
pd.to_datetime("2020-1-1")
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(dt.datetime(2015,1,1,22,10,5))
times = pd.to_datetime(["2020-05-05","1999/01/02","2005","July 4th, 1996"])

In [25]:
pd.Series(times)

0   2020-05-05
1   1999-01-02
2   2005-01-01
3   1996-07-04
dtype: datetime64[ns]

In [29]:
pd.Series(["2020-05-05","1999/01/02","2005","July 4th, 1996"])

0        2020-05-05
1        1999/01/02
2              2005
3    July 4th, 1996
dtype: object

In [30]:
#convert all series into timestampes and container into a datetime data type instead of object above
pd.to_datetime(times)

DatetimeIndex(['2020-05-05', '1999-01-02', '2005-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [33]:
dates = pd.Series(["July 4th, 1996","10/04/1991","Hello","2015-02-31"])
dates

0    July 4th, 1996
1        10/04/1991
2             Hello
3        2015-02-31
dtype: object

In [35]:
#can't convert to datetime object because of hello and february 31st date that doesn't exist as a valid date
pd.to_datetime(dates)

ParserError: Unknown string format: Hello present at position 2

In [40]:
#now invalid date values are converted to NAT since errors = coerce
check = pd.to_datetime(dates,errors="coerce")
check

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [39]:
#removes the nan/nat from list
check.dropna(how="all")

0   1996-07-04
1   1991-10-04
dtype: datetime64[ns]

In [43]:
#unix times conversion
pd.to_datetime([1349720105,1349720101],unit="s")

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-08 18:15:01'], dtype='datetime64[ns]', freq=None)

# create range of dates us pd.date_range() method part 1

In [49]:
#requires 2 of 3 parameters for start, end, or period
#freq of 1D is one day. 
#creates a datetime index
pd.date_range(start="01/01/2016",end="01-10-2016",freq="D")
times = pd.date_range(start="2016/01/01",end="2016-01-10",freq="1D")

In [48]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [50]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [51]:
#increments of 2 day
pd.date_range(start="2016/01/01",end="2016-01-10",freq="2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [53]:
#week increments, only looking starting at sundays when week starts, so january 1st and 2nd not included since before the sunday
pd.date_range(start="2016/01/01",end="2016-01-10",freq="W")

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [56]:
#week increments,weeks starting on friday
pd.date_range(start="2016/01/01",end="2016-01-15",freq="W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [58]:
#every hour bewteen the start and end date
pd.date_range(start="2016/01/01",end="2016-01-15",freq="H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-14 15:00:00', '2016-01-14 16:00:00',
               '2016-01-14 17:00:00', '2016-01-14 18:00:00',
               '2016-01-14 19:00:00', '2016-01-14 20:00:00',
               '2016-01-14 21:00:00', '2016-01-14 22:00:00',
               '2016-01-14 23:00:00', '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', length=337, freq='H')

In [59]:
#every 6 hours bewteen the start and end date
pd.date_range(start="2016/01/01",end="2016-01-15",freq="6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00', '2016-01-10 06:00:00',
               '2016-01-10 12:00:00', '2016-01-10 18:00:00',
               '2016-01-11 00:00:00', '2016-01-11 06:00:00',
               '2016-01-11 12:00:00', '2016-01-11 18:00:00',
               '2016-01-12 00:00:00', '2016-01-12 06:00:00',
               '2016-01-12 12:00:00', '2016-01-12 18:00:00',
               '2016-01-13 00:00:00', '2016-01-13 06:00:00',
               '2016-01-13 12:00:00', '2016-01-13 18:00:00',
               '2016-01-14 00:00:00', '2016-01-14 06:00:00',
               '2016-01-14 12:00:00', '2016-01-14 18:00:00',
               '2016-01-15 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [62]:
#m returns the month ends. returns last day of each month between start and end date
pd.date_range(start="2016/01/01",end="2016-12-31",freq="M")

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31'],
              dtype='datetime64[ns]', freq='M')

In [63]:
#ms returns the month ends. returns first day of each month between start and end date
pd.date_range(start="2016/01/01",end="2016-12-31",freq="MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [64]:
#A returns the year end. returns last day of each year between start and end date
pd.date_range(start="2016/01/01",end="2050-12-31",freq="A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

# create range of dates us pd.date_range() method part 2

In [67]:
#periods is the number of time results we want.
#25 values created.each is one day apart
pd.date_range(start="2012-09-09",periods=25,freq="D")

DatetimeIndex(['2012-09-09', '2012-09-10', '2012-09-11', '2012-09-12',
               '2012-09-13', '2012-09-14', '2012-09-15', '2012-09-16',
               '2012-09-17', '2012-09-18', '2012-09-19', '2012-09-20',
               '2012-09-21', '2012-09-22', '2012-09-23', '2012-09-24',
               '2012-09-25', '2012-09-26', '2012-09-27', '2012-09-28',
               '2012-09-29', '2012-09-30', '2012-10-01', '2012-10-02',
               '2012-10-03'],
              dtype='datetime64[ns]', freq='D')

In [68]:
#50 business days using B.
pd.date_range(start="2012-09-09",periods=50,freq="B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [69]:
#50 weeks using W.
#can also start week on a tuesday. W-TUE
pd.date_range(start="2012-09-09",periods=50,freq="W")

DatetimeIndex(['2012-09-09', '2012-09-16', '2012-09-23', '2012-09-30',
               '2012-10-07', '2012-10-14', '2012-10-21', '2012-10-28',
               '2012-11-04', '2012-11-11', '2012-11-18', '2012-11-25',
               '2012-12-02', '2012-12-09', '2012-12-16', '2012-12-23',
               '2012-12-30', '2013-01-06', '2013-01-13', '2013-01-20',
               '2013-01-27', '2013-02-03', '2013-02-10', '2013-02-17',
               '2013-02-24', '2013-03-03', '2013-03-10', '2013-03-17',
               '2013-03-24', '2013-03-31', '2013-04-07', '2013-04-14',
               '2013-04-21', '2013-04-28', '2013-05-05', '2013-05-12',
               '2013-05-19', '2013-05-26', '2013-06-02', '2013-06-09',
               '2013-06-16', '2013-06-23', '2013-06-30', '2013-07-07',
               '2013-07-14', '2013-07-21', '2013-07-28', '2013-08-04',
               '2013-08-11', '2013-08-18'],
              dtype='datetime64[ns]', freq='W-SUN')

In [70]:
#50 month starts from start date
pd.date_range(start="2012-09-09",periods=50,freq="MS")

DatetimeIndex(['2012-10-01', '2012-11-01', '2012-12-01', '2013-01-01',
               '2013-02-01', '2013-03-01', '2013-04-01', '2013-05-01',
               '2013-06-01', '2013-07-01', '2013-08-01', '2013-09-01',
               '2013-10-01', '2013-11-01', '2013-12-01', '2014-01-01',
               '2014-02-01', '2014-03-01', '2014-04-01', '2014-05-01',
               '2014-06-01', '2014-07-01', '2014-08-01', '2014-09-01',
               '2014-10-01', '2014-11-01', '2014-12-01', '2015-01-01',
               '2015-02-01', '2015-03-01', '2015-04-01', '2015-05-01',
               '2015-06-01', '2015-07-01', '2015-08-01', '2015-09-01',
               '2015-10-01', '2015-11-01', '2015-12-01', '2016-01-01',
               '2016-02-01', '2016-03-01', '2016-04-01', '2016-05-01',
               '2016-06-01', '2016-07-01', '2016-08-01', '2016-09-01',
               '2016-10-01', '2016-11-01'],
              dtype='datetime64[ns]', freq='MS')

In [71]:
#use A for years for last day of year.
pd.date_range(start="2012-09-09",periods=50,freq="A")

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31', '2050-12-31', '2051-12-31',
               '2052-12-31', '2053-12-31', '2054-12-31', '2055-12-31',
               '2056-12-31', '2057-12-31', '2058-12-31', '2059-12-31',
               '2060-12-31', '2061-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [72]:
#50 periods of 6 hours a part
pd.date_range(start="2012-09-09",periods=50,freq="6H")

DatetimeIndex(['2012-09-09 00:00:00', '2012-09-09 06:00:00',
               '2012-09-09 12:00:00', '2012-09-09 18:00:00',
               '2012-09-10 00:00:00', '2012-09-10 06:00:00',
               '2012-09-10 12:00:00', '2012-09-10 18:00:00',
               '2012-09-11 00:00:00', '2012-09-11 06:00:00',
               '2012-09-11 12:00:00', '2012-09-11 18:00:00',
               '2012-09-12 00:00:00', '2012-09-12 06:00:00',
               '2012-09-12 12:00:00', '2012-09-12 18:00:00',
               '2012-09-13 00:00:00', '2012-09-13 06:00:00',
               '2012-09-13 12:00:00', '2012-09-13 18:00:00',
               '2012-09-14 00:00:00', '2012-09-14 06:00:00',
               '2012-09-14 12:00:00', '2012-09-14 18:00:00',
               '2012-09-15 00:00:00', '2012-09-15 06:00:00',
               '2012-09-15 12:00:00', '2012-09-15 18:00:00',
               '2012-09-16 00:00:00', '2012-09-16 06:00:00',
               '2012-09-16 12:00:00', '2012-09-16 18:00:00',
               '2012-09-17 00:00:00', '2012-09-17 06:00:00',
               '2012-09-17 12:00:00', '2012-09-17 18:00:00',
               '2012-09-18 00:00:00', '2012-09-18 06:00:00',
               '2012-09-18 12:00:00', '2012-09-18 18:00:00',
               '2012-09-19 00:00:00', '2012-09-19 06:00:00',
               '2012-09-19 12:00:00', '2012-09-19 18:00:00',
               '2012-09-20 00:00:00', '2012-09-20 06:00:00',
               '2012-09-20 12:00:00', '2012-09-20 18:00:00',
               '2012-09-21 00:00:00', '2012-09-21 06:00:00'],
              dtype='datetime64[ns]', freq='6H')

# create range of dates us pd.date_range() method part 3

In [82]:
#20 days prior to 12-13-1999
pd.date_range(end="1999-12-31",periods=20,freq="D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

In [84]:
#20 business days prior to 12-13-1999
pd.date_range(end="1999-12-31",periods=20,freq="B")

DatetimeIndex(['1999-12-06', '1999-12-07', '1999-12-08', '1999-12-09',
               '1999-12-10', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-20', '1999-12-21',
               '1999-12-22', '1999-12-23', '1999-12-24', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='B')

In [87]:
#all sundays prior/leading up to the end date.
#use W-FRI to weekdays to start on a friday
pd.date_range(end="1999-12-31",periods=20,freq="W-SUN")

DatetimeIndex(['1999-08-15', '1999-08-22', '1999-08-29', '1999-09-05',
               '1999-09-12', '1999-09-19', '1999-09-26', '1999-10-03',
               '1999-10-10', '1999-10-17', '1999-10-24', '1999-10-31',
               '1999-11-07', '1999-11-14', '1999-11-21', '1999-11-28',
               '1999-12-05', '1999-12-12', '1999-12-19', '1999-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [88]:
#all 20 month starts leading up to 12-31
pd.date_range(end="1999-12-31",periods=20,freq="MS")

DatetimeIndex(['1998-05-01', '1998-06-01', '1998-07-01', '1998-08-01',
               '1998-09-01', '1998-10-01', '1998-11-01', '1998-12-01',
               '1999-01-01', '1999-02-01', '1999-03-01', '1999-04-01',
               '1999-05-01', '1999-06-01', '1999-07-01', '1999-08-01',
               '1999-09-01', '1999-10-01', '1999-11-01', '1999-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [89]:
#all 20 7h periods starts leading up to 12-31
pd.date_range(end="1999-12-31",periods=20,freq="7H")

DatetimeIndex(['1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

# the .dt accessor

In [93]:
#24 day incremements between start and end
bunch_of_dates = pd.date_range(start="2000-01-01",end="2010-12-31", freq ="24D")
bunch_of_dates

DatetimeIndex(['2000-01-01', '2000-01-25', '2000-02-18', '2000-03-13',
               '2000-04-06', '2000-04-30', '2000-05-24', '2000-06-17',
               '2000-07-11', '2000-08-04',
               ...
               '2010-05-20', '2010-06-13', '2010-07-07', '2010-07-31',
               '2010-08-24', '2010-09-17', '2010-10-11', '2010-11-04',
               '2010-11-28', '2010-12-22'],
              dtype='datetime64[ns]', length=168, freq='24D')

In [96]:
s = pd.Series(bunch_of_dates)
s

0     2000-01-01
1     2000-01-25
2     2000-02-18
3     2000-03-13
4     2000-04-06
         ...
163   2010-09-17
164   2010-10-11
165   2010-11-04
166   2010-11-28
167   2010-12-22
Length: 168, dtype: datetime64[ns]

In [106]:
#extract each day,month, from a series
s.dt.day
s.dt.month
s.dt.day_name()

0       Saturday
1        Tuesday
2         Friday
3         Monday
4       Thursday
         ...
163       Friday
164       Monday
165     Thursday
166       Sunday
167    Wednesday
Length: 168, dtype: object

In [111]:
#true or false if it starts on quarter day.
#pulls only dates that start on a quarter
mask= s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [112]:
#true or false if it ends on last day of month
#pulls only dates that start on a quarter
mask= s.dt.is_month_end
s[mask]

5     2000-04-30
57    2003-09-30
71    2004-08-31
90    2005-11-30
123   2008-01-31
161   2010-07-31
dtype: datetime64[ns]

# import financial data with pandas_datareader library

In [1]:
import pandas as pd
import datetime as dt
#data is one of many modules from pandas datareader library
from pandas_datareader import data

In [10]:
#name is stock symbol
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2010-01-01", end="2023-12-31")
stocks.sort_values("Date",ascending=True)

                Open      High       Low     Close        Volume
Date
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-06   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-07   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-08   23.7837   24.2642   23.7608   24.0934  6.515561e+07
...              ...       ...       ...       ...           ...
2023-03-17  278.2600  283.3300  276.3201  279.4300  6.952737e+07
2023-03-20  276.9800  277.4800  269.8500  272.2300  4.346665e+07
2023-03-21  274.8800  275.0000  269.5191  273.7800  3.455870e+07
2023-03-22  273.4000  281.0400  272.1800  272.2900  3.487333e+07
2023-03-23  277.9400  281.0600  275.2000  277.6600  3.660120e+07

[3328 rows x 5 columns]

In [55]:
stocks.values
stocks.columns
stocks.index
stocks.axes

DatetimeIndex(['2023-03-23', '2023-03-22', '2023-03-21', '2023-03-20',
               '2023-03-17', '2023-03-16', '2023-03-15', '2023-03-14',
               '2023-03-13', '2023-03-10',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

# selecting rows from a df with a datetimeindex

In [16]:
#name is stock symbol
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2010-01-01", end="2023-12-31")
stocks.sort_values("Date",ascending=True)

                Open      High       Low     Close        Volume
Date
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-06   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-07   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-08   23.7837   24.2642   23.7608   24.0934  6.515561e+07
...              ...       ...       ...       ...           ...
2023-03-17  278.2600  283.3300  276.3201  279.4300  6.952737e+07
2023-03-20  276.9800  277.4800  269.8500  272.2300  4.346665e+07
2023-03-21  274.8800  275.0000  269.5191  273.7800  3.455870e+07
2023-03-22  273.4000  281.0400  272.1800  272.2900  3.487333e+07
2023-03-23  277.9400  281.0600  275.2000  277.6600  3.660120e+07

[3328 rows x 5 columns]

In [17]:
stocks.loc["2010-01-04"]

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [20]:
#good idea to wrap date in a time stamp object
stocks.loc[pd.Timestamp("2010-01-04")]

Open      2.408540e+01
High      2.443890e+01
Low       2.403580e+01
Close     2.431780e+01
Volume    4.886916e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [23]:
stocks.iloc[0]
#getting the last row
#stocks.iloc[-1]

Open           277.94
High           281.06
Low            275.20
Close          277.66
Volume    36601199.00
Name: 2023-03-23 00:00:00, dtype: float64

In [39]:
#pulling out two dates from dataframe. need to wrap in timestamp
stocks.loc[[pd.Timestamp("2010-01-04"),pd.Timestamp("2010-01-05")]]

               Open     High      Low    Close        Volume
Date
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07

In [28]:
stocks.iloc[[10,15,30]]

              Open    High     Low   Close      Volume
Date
2023-03-09  255.82  259.56  251.58  252.32  26653387.0
2023-03-02  246.55  251.40  245.61  251.11  24833646.0
2023-02-08  273.20  276.76  266.21  266.73  54686049.0

In [34]:
#pulling data between certain dates
stocks.loc["2010-01-04":"2010-01-31"]

               Open     High      Low    Close        Volume
Date
2010-01-29  23.4848  23.5097  21.7336  22.1427  2.466978e+08
2010-01-28  23.4391  23.4690  22.6996  22.9120  1.486216e+08
2010-01-27  23.0212  23.4303  22.8048  23.3141  8.136649e+07
2010-01-26  22.8982  23.4551  22.8574  23.1772  8.479407e+07
2010-01-25  22.9448  23.3071  22.8654  23.0362  8.065060e+07
2010-01-22  23.5722  23.7291  22.6639  22.7562  1.296896e+08
2010-01-21  24.0537  24.1391  23.5722  23.5811  9.295796e+07
2010-01-20  24.1837  24.3089  23.8165  24.0270  6.979974e+07
2010-01-19  24.1074  24.5461  24.1074  24.4389  5.927387e+07
2010-01-15  24.5153  24.5461  24.1311  24.2463  1.016991e+08
2010-01-14  23.7738  24.4389  23.7738  24.3267  8.043373e+07
2010-01-13  23.7738  23.9852  23.5811  23.8472  6.571178e+07
2010-01-12  23.7012  23.8850  23.5018  23.6278  8.387413e+07
2010-01-11  24.1391  24.1659  23.6685  23.7837  8.747649e+07
2010-01-08  23.7837  24.2642  23.7608  24.0934  6.515561e+07
2010-01-07  24.0537  24.1232  23.7221  23.9257  6.434577e+07
2010-01-06  24.2642  24.4230  23.9852  24.1758  7.403254e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07

In [35]:
stocks.truncate(before="2010-01-04",after="2010-01-31")

               Open     High      Low    Close        Volume
Date
2010-01-29  23.4848  23.5097  21.7336  22.1427  2.466978e+08
2010-01-28  23.4391  23.4690  22.6996  22.9120  1.486216e+08
2010-01-27  23.0212  23.4303  22.8048  23.3141  8.136649e+07
2010-01-26  22.8982  23.4551  22.8574  23.1772  8.479407e+07
2010-01-25  22.9448  23.3071  22.8654  23.0362  8.065060e+07
2010-01-22  23.5722  23.7291  22.6639  22.7562  1.296896e+08
2010-01-21  24.0537  24.1391  23.5722  23.5811  9.295796e+07
2010-01-20  24.1837  24.3089  23.8165  24.0270  6.979974e+07
2010-01-19  24.1074  24.5461  24.1074  24.4389  5.927387e+07
2010-01-15  24.5153  24.5461  24.1311  24.2463  1.016991e+08
2010-01-14  23.7738  24.4389  23.7738  24.3267  8.043373e+07
2010-01-13  23.7738  23.9852  23.5811  23.8472  6.571178e+07
2010-01-12  23.7012  23.8850  23.5018  23.6278  8.387413e+07
2010-01-11  24.1391  24.1659  23.6685  23.7837  8.747649e+07
2010-01-08  23.7837  24.2642  23.7608  24.0934  6.515561e+07
2010-01-07  24.0537  24.1232  23.7221  23.9257  6.434577e+07
2010-01-06  24.2642  24.4230  23.9852  24.1758  7.403254e+07
2010-01-05  24.2542  24.4389  24.0765  24.3267  6.331174e+07
2010-01-04  24.0854  24.4389  24.0358  24.3178  4.886916e+07

In [37]:
#end point is exlusive. pulls up to the index position but not include like loc
stocks.iloc[:5]

              Open    High       Low   Close      Volume
Date
2023-03-23  277.94  281.06  275.2000  277.66  36601199.0
2023-03-22  273.40  281.04  272.1800  272.29  34873330.0
2023-03-21  274.88  275.00  269.5191  273.78  34558704.0
2023-03-20  276.98  277.48  269.8500  272.23  43466649.0
2023-03-17  278.26  283.33  276.3201  279.43  69527371.0

In [40]:
stocks.loc[[pd.Timestamp("2010-11-08"),pd.Timestamp("2022-11-08")]]

                Open      High       Low     Close        Volume
Date
2010-11-08   20.9612   21.2542   20.8847   21.0655  9.117920e+07
2022-11-08  228.0570  230.9990  225.2050  228.2270  2.827200e+07

In [57]:
#creates an index of all my birthdays for every year using date offset 
birthdays = pd.date_range(start="1993/11/08",end="2022-12-31",freq=pd.DateOffset(years=1))
birthdays

DatetimeIndex(['1993-11-08', '1994-11-08', '1995-11-08', '1996-11-08',
               '1997-11-08', '1998-11-08', '1999-11-08', '2000-11-08',
               '2001-11-08', '2002-11-08', '2003-11-08', '2004-11-08',
               '2005-11-08', '2006-11-08', '2007-11-08', '2008-11-08',
               '2009-11-08', '2010-11-08', '2011-11-08', '2012-11-08',
               '2013-11-08', '2014-11-08', '2015-11-08', '2016-11-08',
               '2017-11-08', '2018-11-08', '2019-11-08', '2020-11-08',
               '2021-11-08', '2022-11-08'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [62]:
#checks for birthday dates in the index
birthday_stocks = stocks.index.isin(birthdays)

In [65]:
#shows stock price every year on my birthday
stocks[birthday_stocks]

                Open      High       Low     Close        Volume
Date
2022-11-08  228.0570  230.9990  225.2050  228.2270  2.827200e+07
2021-11-08  333.5590  333.8960  330.7300  333.2520  2.113140e+07
2019-11-08  139.4940  141.4490  139.2750  141.4290  1.729094e+07
2018-11-08  106.6520  107.0390  105.7890  106.6030  2.688353e+07
2017-11-08   78.8405   79.2812   78.5485   79.2355  1.924163e+07
2016-11-08   55.4013   55.6107   55.0330   55.3298  2.353622e+07
2013-11-08   31.7616   31.8528   31.4796   31.8528  4.357934e+07
2012-11-08   23.8165   24.0210   23.5554   23.5632  6.093565e+07
2011-11-08   21.4815   21.6512   21.2343   21.6175  6.004486e+07
2010-11-08   20.9612   21.2542   20.8847   21.0655  9.117920e+07

In [66]:
#can also use it in loc
stocks.loc[birthday_stocks]

                Open      High       Low     Close        Volume
Date
2022-11-08  228.0570  230.9990  225.2050  228.2270  2.827200e+07
2021-11-08  333.5590  333.8960  330.7300  333.2520  2.113140e+07
2019-11-08  139.4940  141.4490  139.2750  141.4290  1.729094e+07
2018-11-08  106.6520  107.0390  105.7890  106.6030  2.688353e+07
2017-11-08   78.8405   79.2812   78.5485   79.2355  1.924163e+07
2016-11-08   55.4013   55.6107   55.0330   55.3298  2.353622e+07
2013-11-08   31.7616   31.8528   31.4796   31.8528  4.357934e+07
2012-11-08   23.8165   24.0210   23.5554   23.5632  6.093565e+07
2011-11-08   21.4815   21.6512   21.2343   21.6175  6.004486e+07
2010-11-08   20.9612   21.2542   20.8847   21.0655  9.117920e+07

# timestamp object attributes and methods

In [67]:
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2010-01-01", end="2023-12-31")
stocks.sort_values("Date",ascending=True)

                Open      High       Low     Close        Volume
Date
2010-01-04   24.0854   24.4389   24.0358   24.3178  4.886916e+07
2010-01-05   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-06   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-07   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-08   23.7837   24.2642   23.7608   24.0934  6.515561e+07
...              ...       ...       ...       ...           ...
2023-03-17  278.2600  283.3300  276.3201  279.4300  6.952737e+07
2023-03-20  276.9800  277.4800  269.8500  272.2300  4.346665e+07
2023-03-21  274.8800  275.0000  269.5191  273.7800  3.455870e+07
2023-03-22  273.4000  281.0400  272.1800  272.2900  3.487333e+07
2023-03-23  277.9400  281.0600  275.2000  277.6600  3.661088e+07

[3328 rows x 5 columns]

In [71]:
#valid timestamp object
someday = stocks.index[500]
someday

Timestamp('2021-03-29 00:00:00')

In [79]:
#numeric month, week
someday.month
someday.week
someday.is_month_start
someday.is_month_end
someday.is_quarter_start
someday.day

29

In [86]:
someday.month_name() + " " + someday.day_name()

'March Monday'

In [87]:
stocks.index

DatetimeIndex(['2023-03-23', '2023-03-22', '2023-03-21', '2023-03-20',
               '2023-03-17', '2023-03-16', '2023-03-15', '2023-03-14',
               '2023-03-13', '2023-03-10',
               ...
               '2010-01-15', '2010-01-14', '2010-01-13', '2010-01-12',
               '2010-01-11', '2010-01-08', '2010-01-07', '2010-01-06',
               '2010-01-05', '2010-01-04'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

In [90]:
#creates a object of day of the name for the index column and can add as a column to dataframe
stocks.index.day_name()

Index(['Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday', 'Thursday',
       'Wednesday', 'Tuesday', 'Monday', 'Friday',
       ...
       'Friday', 'Thursday', 'Wednesday', 'Tuesday', 'Monday', 'Friday',
       'Thursday', 'Wednesday', 'Tuesday', 'Monday'],
      dtype='object', name='Date', length=3328)

In [93]:
#adds the column to the stocks dataframe
stocks.insert(0,"day of week",stocks.index.day_name())

ValueError: cannot insert day of week, already exists

In [94]:
stocks

           day of week      Open      High       Low     Close        Volume
Date
2023-03-23    Thursday  277.9400  281.0600  275.2000  277.6600  3.661088e+07
2023-03-22   Wednesday  273.4000  281.0400  272.1800  272.2900  3.487333e+07
2023-03-21     Tuesday  274.8800  275.0000  269.5191  273.7800  3.455870e+07
2023-03-20      Monday  276.9800  277.4800  269.8500  272.2300  4.346665e+07
2023-03-17      Friday  278.2600  283.3300  276.3201  279.4300  6.952737e+07
...                ...       ...       ...       ...       ...           ...
2010-01-08      Friday   23.7837   24.2642   23.7608   24.0934  6.515561e+07
2010-01-07    Thursday   24.0537   24.1232   23.7221   23.9257  6.434577e+07
2010-01-06   Wednesday   24.2642   24.4230   23.9852   24.1758  7.403254e+07
2010-01-05     Tuesday   24.2542   24.4389   24.0765   24.3267  6.331174e+07
2010-01-04      Monday   24.0854   24.4389   24.0358   24.3178  4.886916e+07

[3328 rows x 6 columns]

In [96]:
 stocks.index.is_month_start

array([False, False, False, ..., False, False, False])

In [97]:
#adds boolean array column to dataframe
stocks.insert(1,"Is start of month",  stocks.index.is_month_start)

In [98]:
stocks

,day of week,Is start of month,Open,High,Low,Close,Volume
Date,,,,,,,
2023-03-23,Thursday,False,277.9400,281.0600,275.2000,277.6600,3.661088e+07
2023-03-22,Wednesday,False,273.4000,281.0400,272.1800,272.2900,3.487333e+07
2023-03-21,Tuesday,False,274.8800,275.0000,269.5191,273.7800,3.455870e+07
2023-03-20,Monday,False,276.9800,277.4800,269.8500,272.2300,4.346665e+07
2023-03-17,Friday,False,278.2600,283.3300,276.3201,279.4300,6.952737e+07
...,...,...,...,...,...,...,...
2010-01-08,Friday,False,23.7837,24.2642,23.7608,24.0934,6.515561e+07
2010-01-07,Thursday,False,24.0537,24.1232,23.7221,23.9257,6.434577e+07
2010-01-06,Wednesday,False,24.2642,24.4230,23.9852,24.1758,7.403254e+07
2010-01-05,Tuesday,False,24.2542,24.4389,24.0765,24.3267,6.331174e+07
2010-01-04,Monday,False,24.0854,24.4389,24.0358,24.3178,4.886916e+07

In [103]:
#gets all the stock days that were the beginning of the month using the newly added column
stocks[stocks["Is start of month"]]

,day of week,Is start of month,Open,High,Low,Close,Volume
Date,,,,,,,
2023-03-01,Wednesday,True,250.7600,250.9300,245.7900,246.2700,2.756526e+07
2023-02-01,Wednesday,True,248.0000,255.1800,245.4700,252.7500,3.125991e+07
2022-12-01,Thursday,True,253.8700,256.1200,250.9156,254.6900,2.604152e+07
2022-11-01,Tuesday,True,233.9410,235.0780,226.6860,227.5290,3.067849e+07
2022-09-01,Thursday,True,258.1430,260.1570,254.6920,259.6680,2.332899e+07
...,...,...,...,...,...,...,...
2010-07-01,Thursday,True,18.1428,18.3235,17.8589,18.1964,1.173523e+08
2010-06-01,Tuesday,True,20.0906,20.6763,20.0559,20.3438,9.687786e+07
2010-04-01,Thursday,True,23.0619,23.2089,22.4861,22.9120,9.513903e+07
2010-03-01,Monday,True,22.6053,22.8277,22.4196,22.8048,5.570803e+07
2010-02-01,Monday,True,22.3144,22.3809,21.9382,22.3234,1.092082e+08

# the pd.dateoffset object

In [123]:
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2010-01-01", end="2023-12-31").sort_values("Date",ascending=True)

In [114]:
#add 5 days to every row
stocks["High"] +5

Date
2010-01-04     29.4389
2010-01-05     29.4389
2010-01-06     29.4230
2010-01-07     29.1232
2010-01-08     29.2642
                ...
2023-03-17    288.3300
2023-03-20    282.4800
2023-03-21    280.0000
2023-03-22    286.0400
2023-03-23    286.0600
Name: High, Length: 3328, dtype: float64

In [119]:
#add 5 days to every date in the index
#stocks.index = stocks.index + pd.DateOffset(days=5)
stocks.index

DatetimeIndex(['2010-01-14', '2010-01-15', '2010-01-16', '2010-01-17',
               '2010-01-18', '2010-01-21', '2010-01-22', '2010-01-23',
               '2010-01-24', '2010-01-25',
               ...
               '2023-03-20', '2023-03-23', '2023-03-24', '2023-03-25',
               '2023-03-26', '2023-03-27', '2023-03-30', '2023-03-31',
               '2023-04-01', '2023-04-02'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

In [120]:
#subtract 5 days to every date in the index or a series of datetime values.
stocks.index + pd.DateOffset(days=-5)

DatetimeIndex(['2010-01-09', '2010-01-10', '2010-01-11', '2010-01-12',
               '2010-01-13', '2010-01-16', '2010-01-17', '2010-01-18',
               '2010-01-19', '2010-01-20',
               ...
               '2023-03-15', '2023-03-18', '2023-03-19', '2023-03-20',
               '2023-03-21', '2023-03-22', '2023-03-25', '2023-03-26',
               '2023-03-27', '2023-03-28'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

In [131]:
stocks.index + pd.DateOffset(weeks=2)
stocks.index + pd.DateOffset(months=-5)
stocks.index + pd.DateOffset(years=1)
stocks.index + pd.DateOffset(years=1,months=4,days=2,hours=6,minutes=2,seconds=30)

DatetimeIndex(['2011-05-06 06:02:30', '2011-05-07 06:02:30',
               '2011-05-08 06:02:30', '2011-05-09 06:02:30',
               '2011-05-10 06:02:30', '2011-05-13 06:02:30',
               '2011-05-14 06:02:30', '2011-05-15 06:02:30',
               '2011-05-16 06:02:30', '2011-05-17 06:02:30',
               ...
               '2024-07-12 06:02:30', '2024-07-15 06:02:30',
               '2024-07-16 06:02:30', '2024-07-17 06:02:30',
               '2024-07-18 06:02:30', '2024-07-19 06:02:30',
               '2024-07-22 06:02:30', '2024-07-23 06:02:30',
               '2024-07-24 06:02:30', '2024-07-25 06:02:30'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

# timeseries offsets

In [132]:
stocks = data.DataReader(name="MSFT", data_source="stooq", start="2010-01-01", 
                         end="2023-12-31").sort_values("Date",ascending=True)

In [136]:
#round each date to the month end
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2023-03-31', '2023-03-31', '2023-03-31', '2023-03-31',
               '2023-03-31', '2023-03-31', '2023-03-31', '2023-03-31',
               '2023-03-31', '2023-03-31'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

In [139]:
#goes to the end day of the previous month
stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2023-02-28', '2023-02-28', '2023-02-28', '2023-02-28',
               '2023-02-28', '2023-02-28', '2023-02-28', '2023-02-28',
               '2023-02-28', '2023-02-28'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

In [141]:
#begining of the month for the date
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2023-03-01', '2023-03-01', '2023-03-01', '2023-03-01',
               '2023-03-01', '2023-03-01', '2023-03-01', '2023-03-01',
               '2023-03-01', '2023-03-01'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

In [143]:
#avoids the need to provide pd.tdseries
from pandas.tseries import offsets

In [144]:
stocks.index - offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2023-02-28', '2023-02-28', '2023-02-28', '2023-02-28',
               '2023-02-28', '2023-02-28', '2023-02-28', '2023-02-28',
               '2023-02-28', '2023-02-28'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

In [146]:
#business month end
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2023-03-31', '2023-03-31', '2023-03-31', '2023-03-31',
               '2023-03-31', '2023-03-31', '2023-03-31', '2023-03-31',
               '2023-03-31', '2023-03-31'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

In [148]:
#dates first day of the year
stocks.index + offsets.YearBegin()

DatetimeIndex(['2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01', '2024-01-01', '2024-01-01',
               '2024-01-01', '2024-01-01'],
              dtype='datetime64[ns]', name='Date', length=3328, freq=None)

# the timedelta object

In [152]:
time_a = pd.Timestamp("2020-03-31 4:35:23 PM")
time_b = pd.Timestamp("2020-03-20 8:30:24 PM")

In [153]:
time_a -time_b

Timedelta('10 days 20:04:59')

In [154]:
time_b - time_a

Timedelta('-11 days +03:55:01')

In [160]:
#adds 3 days
time_a + pd.Timedelta(days=3)
time_a + pd.Timedelta(weeks=10,days=3,hours=4,minutes=20,seconds=19)

Timestamp('2020-06-12 20:55:42')

# timedeltas in a dataframe

In [173]:
shipping = pd.read_csv("Pandas/ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])
shipping.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [174]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]

In [177]:
shipping.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [180]:
shipping["Twice as long"] = shipping["delivery_date"] + shipping["Delivery Time"]

In [181]:
shipping.head(3)

   order_date delivery_date Delivery Time Twice as long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12

In [182]:
shipping.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
Twice as long     datetime64[ns]
dtype: object

In [184]:
#more than a year to deliver
mask= shipping["Delivery Time"] > "365 days"

In [185]:
shipping[mask]

    order_date delivery_date Delivery Time Twice as long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]

In [186]:
shipping["Delivery Time"].max()

Timedelta('3583 days 00:00:00')